.main{
    background-image: url(../../assets/img/coming_soon.jpg);
    min-height: 71vh;
    background-position: center;
    color: white
}

.under_line{
    border-bottom: 5px solid white;
    width: 200px;
}

@media screen and (max-width: 500px) {
    /* .topnav a:not(:first-child) {display: none;} */
    .under_line{
        margin-left: 130px;
        margin-right:0px;
        width: 150px;
    }
  }