<header class="sticky-top">
    <div class="main">
      <div class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
          <img src="../assets/img/avigo_logo.jpg" alt="logo" style="height:55px; width:70px;" class=" mr-5 img-fluid">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon "></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item mr-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link " style="color:black; font-weight: 600" routerLink="/home">HOME</a>
              </li>
              <li class="nav-item mr-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  <a class="nav-link " style="color:black; font-weight: 600" routerLink="/about">ABOUT</a>
              </li>
              <li class="nav-item mr-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  <a class="nav-link" style="color:black; font-weight: 600" routerLink="/service" >SERVICES</a>
              </li>
              <li class="nav-item mr-2 " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  <a class="nav-link" style="color:black; font-weight: 600" routerLink="/contact" >CONTACT US</a>
              </li>
              <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link dropdown-toggle" style="color:black; font-weight: 600" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  SUBSIDIARY
                </a>
                <div class="dropdown-menu bg-white" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" style="color:black" routerLink="/coming">Aptech Abeokuta</a>
                  <a class="dropdown-item" style="color:black" href="http://www.aptechota.com/" target="_blank">Aptech Ota</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>

        <!-- <div class="under_nav">
          <h1 style="font-size:50px">AVIGO INVESTMENT</h1>
          <h1 style="font-size:50px">LIMITED</h1><br>
          <h5 style="font-weight:250">If you are looking at blank cassettes on the web,you may
             be very confused at the <br>difference in price. You may see some for as low as $.17 each.
          </h5>
          <br>
          <button class="btn btn-dark btn-md">Know more</button>
        </div> -->
      </div>
    </div>
  </header>
