header{
    margin-left: 30px;
    margin-right: 30px;
}

.active{
    border-bottom: 2px solid rgb(167, 167, 4); 
}

header .first{
    border-bottom: 2px solid rgb(167, 167, 4); 
}

.about-header .under_nav{
    padding-top: 15%;
}



.service .first{
    border-bottom: none;
}
.service .second{
    border-bottom: none;
}
.service-header .third{
    border-bottom: 2px solid rgb(167, 167, 4);
}



.dropdown-menu{
    outline: none;
    /* border: none; */
}

.dropdown-item:hover{
    background-color: rgba(255, 255, 255, 0);
}

.under_nav{
    color: white;
}

@media screen and (max-width: 500px) {
    /* .topnav a:not(:first-child) {display: none;} */
    header{
        margin-left: 0px;
        margin-right:0px;
    }
  }
