.sec{
    background-image: url(../../assets/img/Services2.jpg);
    min-height: 45vh;
    margin-left: 40px;
    margin-right: 40px; 
    /* background-position: center; */
}

.under_sec{
    margin-left: 40px;
    margin-right: 40px;
}

.card{
    box-shadow: 0 15px 30px 0px rgba(0,0,0,.5);
}

.first_text{
    list-style-type: disc;
}

.under_line{
    border-bottom: 3px solid rgb(226, 226, 0);
    border-radius: 4px;
    width: 50px;
}

@media screen and (max-width: 500px) {
    /* .topnav a:not(:first-child) {display: none;} */
    .sec{
        margin-left: 0px;
        margin-right:0px;
    }
  }