<div class="sec">
    <div class="container"><br><br><br><br><br><br><br>
        <h1 style="font-weight:550; color: white " class="">Our Services</h1>
        <h5 class="" style="font-weight:300; color: white">Wholesale & Retail of branded desktops & laptops like Acer, HP,<br> Dell, IBM, Toshiba, etc</h5>
    </div>
</div><br><br><br><br>

<div class="container">
        <h2 class="text-center" style="font-weight: 550;">What we have to Offer</h2><br><br><br>
        <div class="row">
                <div class="col-sm-7 col-md-4 col-lg-6 offset-sm-3 offset-md-0 offset-lg-0 ">
                    <div class="card py-2">
                            <i class="fa fa-dollar text-center fa-3x" style="color: rgb(167, 167, 4)"></i><br>
                            <h4 class="text-center" style="font-weight:630">Wholesale & Retail</h4><br>
                            <p class="text-center">Wholesale & Retail of desktop and Laptop accessories like hard drives, motherboards, flash drives, screens,
                                 rams upgrade, power packs and also sales of Networking accessories like switches, cat5 cables, RJ45, Crimping tools, face plates,
                                  Linksys routers, deep switches, etc.Wholesales & Retail of unbranded desktops. This we clone after taking configuration requirements 
                                  of the customer.Wholesale & Retail of Power equipments like Uninterruptible Power Supply (UPS), Stabilizers, Inverters, Power extension
                                   packs, etc
                                  
                            </p>
                    </div>
                </div>
                <div class="col-sm-7 col-md-4 col-lg-6 offset-sm-3 offset-md-0 offset-lg-0 ">
                        <div class="card py-2">
                                <i class="fa fa-globe text-center fa-3x" style="color: rgb(167, 167, 4)"></i><br>
                                <h4 class="text-center" style="font-weight:630">Networking</h4><br>
                                <p class="text-center">Domain Name Registration, Website Design, Web Hosting, Email Hosting, Domain name hosting, etc.Design & implementation
                                     of Local Area Networks (LAN), Wide Area Networks (WAN) as well as maintenance of existing LAN & WAN. <br><br><br><br><br>
                                </p>
                        </div>
                </div>
        </div>
        <br><br>
        <div class="row">
                <div class="col-lg-6 ">
                  <img src="../../assets/img/services3.jpg" alt="logo" style="height:500px; width:650px; border-radius: 5px;" class="img-fluid text-center">    
                </div>
                <div class="col-lg-6 mt-5  ">
                    <div class="first_text offset-sm-0 offset-md-0 offset-lg-2">
                        <h3 style="font-weight:400" class="ml-5">One of our major services</h3>
                        <br>
                        <h2  style="font-weight: 700" class="ml-5">AVIGO INVESTMENT</h2>
                        <h2 style="font-weight: 700" class="ml-5">LIMITED</h2>
                        <br>
                        <h5 style="font-weight:350" class="ml-5">Avigo Investment Limited is a limited liability company incorporated in 2017 </h5>
                        <br>
                        <ul class="ml-4">
                                <li>ICT Consultancy covering setup of ISP, Fibre Network Design and implementation, etc.</li>
                                <li>ICT Training.</li>
                                <li>Software deployment and implementation.</li>
                                <li>Internet Service Provision consulting.</li>
                        </ul>
                    </div>
                </div>
          </div><br><br><br>
          <!--  -->
          <div class="row">
                        
                        <div class="col-lg-6 mt-5 ">
                                <h2 class="" style="font-weight: 550;">Outsourcing</h2>
                                <div class="under_line text-center"></div><br><br>
                                <h5 style="font-weight:550" class="">Avigo Investment has been involved in outsourcing services as an Educational contractor. We carried our Comptia A+, N+ & S+ corporate training on Information Technology for Zenith Bank Plc as well as Windows 10 Administration and Client training through our Aptech Computer education brand.
                                                We were also involved in Diploma in Information System Management (DISM) training for some batch of Amnesty programme batch organized by NDDC through our Aptech Computer Education brand.
                                </h5>                
                        </div>
                <div class="col-lg-5 offset-md-1"><br><br><br>
                  <img src="../../assets/img/Outsourcing.jpg" alt="logo" style="border-radius: 5px;" class="img-fluid img-thumbnail text-center">    
                </div>
          </div>
</div><br><br>