<footer style="background-color:black;min-height: 10vh;" class="mt-1"><br><br>
    <div class="container-fluid">
            <div class="row text-center offset-5">
                    <p class="" style="color:grey;">Copyright &copy; All rights Reserved|AVIGO</p>
                </div>
                    <div class="row offset-5">
                        <a class="fa fa-facebook mr-4 ml-4  " href="https://www.facebook.com/aptechabk/" target="_blank"></a>
                        <a class="fa fa-linkedin mr-4 " href="https://www.linkedin.com/aptech-computer-education-801840229" target="_blank"></a>
                        <a class="fa fa-twitter mr-4 " href="https://twitter.com/AptechAbk " ></a>
                        <a class="fa fa-whatsapp mr-4 " href="https://wa.link/g21pil" target="_blank" ></a>
                        <a class="fa fa-whatsapp mr-4 " href="https://wa.link/k4rnh2" target="_blank"></a>
                        <a class="fa fa-github mr-4 " href="https://github.com/Code-Warlock " target="_blank"></a>
                    </div>
    </div>
</footer>
