<footer style="background-color:black;min-height: 10vh;" class="mt-1"><br><br>
    <div class="container-fluid">
            <div class="row">
                    <p class="col-sm-9" style="color:grey">Copyright &copy; All rights Reserved|AVIGO</p>
                    <a class="fa fa-facebook mr-4  " href="https://www.facebook.com/aptechabk/" ></a>
                    <a class="fa fa-linkedin mr-4 " href=""></a>
                    <a class="fa fa-twitter mr-4 " href="https://twitter.com/AptechAbk " ></a>
            </div>
    </div>
</footer>
