<div class="sec">
    <div class="container"><br><br><br><br><br>
        <h1 style="font-weight:550" class="">About Us</h1>
    </div>
</div><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-lg-6 "><br><br>
          <img src="../../assets/img/Audience_7x.png" alt="logo" style=" border-radius: 5px;" class="img-fluid text-center">    
        </div>
        <div class="col-lg-6 ">
            <div class="first_text offset-sm-0 offset-md-0 offset-lg-2">
                <h3 style="font-weight:400" class="ml-5">History of Avigo</h3>
                <br>
                <h2  style="font-weight: 700" class="ml-5">AVIGO INVESTMENT</h2>
                <h2 style="font-weight: 700" class="ml-5">LIMITED</h2>
                <br>
                <h5 style="font-weight:350" class="ml-5">Avigo, is an indigenous firm, which is one of the most effective environmental and allied services company
                    in Nigeria, it was incorporated at Corporate Affairs Commission in 2017.
                </h5>
                <br>
                <p style="font-weight:350" class="ml-5">
                    Avigo came into being based on the vision of the founding fathers to deploy vast experiences garnered which spanned over 20 years of active service in the private,
                    public and multi-national sectors in the Information, Computers and Telecommunications industry.
                </p>
                     
            </div>
        </div>
    </div>
</div><br><br>

<div class="sec_1">
    <div class="container"><br>
        <h1 style="font-weight:400" class="text-center mt-5">History</h1>
        <p style="font-weight:450" class="py-4 "> It was an experience, which will improve efficiency of old, and empowering staff for upcoming ICT companies.
            Avigo inculcates strict adherence to policies, procedures and high standards on every task whose overall effect will result to quality and guarantee job satisfaction at final delivery point.
            Avigo with its alliance with giant information technology companies, Software solution companies, Networking and Internet security outfits and Personal Computers manufacturers have been providing good services in the area of Information, Computer Education & Telecommunications to its clientele without stress.
            Avigo is a 100% Nigerian owned Company. The company has a comprehensive pool of professional staff consisting of Managers, Accountants, Engineers, well-grounded Informational Technology professionals, Environmentalist with specialized and experienced Technicians and Safety Officers.  
        </p>

        <h1 style="font-weight:400" class="text-center mt-5">Vision</h1>
        <p style="font-weight:450">Our value form the four cardinal points, being our point of reference, bedrock and pillar towards a customer centric, career driven  
            information technology firm that guides us towards continued growth and success for decades to come.
        </p>

        <h1 style="font-weight:400" class="text-center mt-5">Mission</h1>
        <p style="font-weight:450">To become a leading technology (ICT) company effectively producing quality services to our customers with a reasonably practicable 
            time frame through the teamwork of motivated and dedicated people.
        </p>

        <h1 style="font-weight:400" class="text-center mt-5">Who are we ?</h1>
        <p style="font-weight:450">We are an Information Technology, consulting and systems integrating firm. We provide services but not limited to design and implementation of Enterprise Applications (ERP), Business Intelligence and Analytics, application development, IT infrastructure services, business & technology consulting.
            Avigo focuses on the long term goals and the strategic needs of our clients’ businesses; we help companies align their strategic goals with the people, process and technology.
            We help companies confidently address technology-related decisions and ensure their business operating models are agile, nimble and lean. .
        </p>
    </div>
</div>


